body{
    margin: 0;
    padding: 0;
    background:linear-gradient(#7a1075 ,#393fb4);
    font-family: Aril,sans-serif;
    color: #333;
}
.container{
    max-width: 800px;
    margin: 100px auto;
    padding: 20px 5px;
    background: linear-gradient(#3466d1,#FF1493);
    border-radius: 19px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1.9s ease;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);   
    }
}
.row{
    display: flex;
    margin-top: 4px;
    justify-content: center;
    transition: transform 0.2s ease;
    align-items: center;
}
.row:hover{
    transform: scale(1.05);
}
img{
    margin-right: 30px;
}
input[type="number"]{
    padding: 20px;
    font-size: 18px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #fff;
    color: #333;
    font-weight: 650;
}
input[type="number"]:focus{
    border-color: #ff70f5;
    outline: none;
    box-shadow: 0 0 2px #ff7e5f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
    -webkit-appearance:none;
    margin:0;
}

.cash-text{
font-weight: bold;
font-size: 22px;
margin-left: 35px;
width: 40px;
display: inline-block;
text-align: center;
color: white;
}

#btnReset{
    margin-top:10px;
    padding: 10px 228px;
    font-size: 22px;
    font-weight:800;
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}
#btnReset:hover{
    background-color: #333;
}

#txtFinalCash{
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
}
#txtFinalCashInWords{
    margin-top: 10px;
    font-style: italic;
    color: #fff;
}
.result-part{
    display: flex;
    flex-direction: column;
}